a,
p {
  font-size: 1.2rem;
  font-family: Righteous;
  letter-spacing: 0.2rem;
}
p {
  text-align: left;
}
h1 {
  text-align: center;
  margin-top: 10rem;
}
h2 {
  letter-spacing: 0.4vw;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-family: Righteous;
}
h3 {
  font-family: 'Rock Salt';
  transform: rotate(5deg);
  letter-spacing: 0.25rem;
  visibility: hidden;
  position: absolute;
  font-weight: 100;
  font-size: 1vw;
  bottom: 4vh;
  left: 42vw;
}
#tri-parent {
  background-color: #f28b30;
  transform: rotate(15deg);
  border: 5px solid #000;
  position: absolute;
  width: 150vw;
  height: 85vh;
  top: -25vh;
  right: -40vw;
  overflow: hidden;
  z-index: -2;
}
#cart {
  position: fixed;
  padding: 1rem;
  border: 2px solid #000;
  margin: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 6rem;
  height: 6rem;
  background-color: #f28b30;
  right: 2rem;
  top: 2%;
  border-radius: 5000px;
}
#cart h2 {
  font-size: 2rem;
}
#cart img {
  margin: auto 0;
  width: 4rem;
  height: 4rem;
  transform: translateX(15%);
}
.tri {
  visibility: hidden;
  background-color: #f2e529;
  border: 5px solid #000;
  position: absolute;
  overflow: hidden;
  transform: rotate(5deg);
  height: 150%;
  right: 0;
  width: 25%;
  z-index: -3;
  top: 0;
}
#menuGrid {
  text-align: left;
  display: flex;
  width: fit-content;
  max-width: 90vw;
  margin: 10rem auto 50vh;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: normal;
}
div .menuItem {
  width: 50rem;
  margin-top: 200px;
  height: 60vh;
  margin-bottom: 10vh;
}
.menuItem .image {
  background-position: center;
  border-radius: 5000px;
  border: 5px solid #000;
  height: 18rem;
  width: 18rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}
.menuItem .item-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.menuItem h2 {
  margin-bottom: 0;
}
.menuItem a {
  text-align: center;
  height: fit-content;
  background-color: #f2e529;
  border: 5px solid #000;
  border-radius: 50000px;
  padding: 0 0 0.5rem 0.2rem;
  margin: 0;
  width: 100%;
  position: relative;
}
.menuItem a h2 {
  font-size: 2rem;
  margin: 0;
}
.item-info p {
  margin: 0 0 0 0.5rem;
  border-left: 5px solid #f2e529;
  padding-left: 1rem;
}
@media (min-width: 1200px) {
  body {
    text-align: left;
  }
  h1 {
    font-size: 9rem;
  }
  h2 {
    letter-spacing: 0.621rem;
    padding-left: 0.4rem;
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  h3 {
    visibility: visible;
  }
  #menuGrid {
    margin-top: 30rem;
  }
  #hero {
    position: absolute;
    left: 5%;
    top: 30%;
    transform: rotate(-15deg);
    width: 20vw;
    visibility: visible;
  }
  #tri-parent {
    max-height: 70rem;
    height: 80vh;
    min-height: 40vh;
  }
  .tri {
    visibility: visible;
    width: 45%;
  }
  div .menuItem {
    flex-direction: row;
    text-align: left;
    height: auto;
    margin: 5rem 3rem;
    display: flex;
    flex: 1;
  }
  .menuItem .item-info {
    margin-left: 2rem;
    height: auto;
    width: 32rem;
  }
  .item-info p {
    margin-left: 0.5rem;
  }
  .menuItem a {
    width: 60%;
  }
}
